.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}

.places h1 {
	font-size: 30px;
	width: 100%;
	margin-left: 20px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	display: flex;
	justify-content: center;
}

article {
	position: relative;
}

div.price_by_night {
	color: #FF5a5F;
	border: 4px solid #FF5a5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 20px;
	top: 15px;
	padding: 5px;
}

div.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	justify-content: center;
}

div.max_guest,
div.number_rooms,
div.number_bathrooms {
	width: 100px;
	background-repeat: no-repeat;
	background-position: center 5px;
	text-align: center;
	padding: 40px 0 15px 0;
}

div.max_guest {
	background-image: url("../images/icon_group.png");
}

div.number_rooms {
	background-image: url("../images/icon_bed.png");
}

div.number_bathrooms {
	background-image: url("../images/icon_bath.png");
}

div.user {
	padding-top: 10px;
}

h4 {
	font-weight: 100;
}

div.user h4 span {
	font-weight: bold;
}

div.description {
	text-align: left;
}

.places_amenities_pet_friendly {
	background-image: url(../images/icon_pets.png);
}

.places_amenities_tv {
	background-image: url(../images/icon_tv.png);
}

.places_amenities_wifi {
	background-image: url(../images/icon_wifi.png);
}

.places_amenities_pet_friendly,
.places_amenities_tv,
.places_amenities_wifi {
	background-size: cover;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.places .amenities ul li {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	margin-bottom: 10px;
	align-items: end;
}

.places .amenities,
.places .reviews {
	margin-top: 40px;
	width: 100%;
	height: inherit;
}

.places .amenities ul,
.places .reviews ul {
	list-style-type: none;
	padding: 0;
}

.places .amenities h2,
.places .reviews h2 {
	font-size: 16px;
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
}

.places .reviews h3 {
	font-size: 14px;
}

.places .reviews p {
	font-size: 12px;
}
