.locations{
	height: 100%;
	width: 25%;
	border-right: 1px #DDDDDD;
}
.amenities{
	height: 100%;
	width: 25%;
}

.locations h3,
.amenities h3 {
	font-weight: 600;
}

.locations h4,
.amenities h4 {
	font-weight: 400;
	font-size: 14px;
}
